<aside class="logo">
	<a href="/">
		<img src="https://www.gravatar.com/avatar/{{ site.author_gravatar }}.png?s=400" class="gravatar" alt="logo image">
	</a>

	<ul class="social">
			{% if site.github_username %}
			<li><a class="fa fa-2x fa-github" href="https://github.com/{{ site.github_username }}"><span class="description">GitHub</span></a></li>
			{% endif %}
			{% if site.twitter_username %}
			<li><a class="fa fa-2x fa-twitter" href="https://twitter.com/{{ site.twitter_username }}"><span class="description">Twitter</span></a></li>
			{% endif %}
			{% if site.email %}
			<li><a class="fa fa-2x fa-envelope" href="mailto:{{ site.email }}"><span class="description">Email</span></a></li>
			{% endif %}
			{% if site.linkedin_username %}
			<li><a class="fa fa-2x fa-linkedin" href="https://linkedin.com/in/{{ site.medium_username }}"><span class="description">LinkedIn</span></a></li>
			{% endif %}
			{% if site.blog_url %}
			<li><a class="fa fa-2x fa-tags" href="{{ site.baseurl }}{{ site.blog_url }}"><span class="description">Blog</span></a></li>
			{% endif %}
			{% if site.medium_username %}
			<li><a class="fa fa-2x fa-medium" href="https://medium.com/@{{ site.medium_username }}"><span class="description">Medium</span></a></li>
			{% endif %}
	</ul>
</aside>
