// Settings
$debug: false;

// Typography
//$base-font-size: 18px;
//$base-line-height: 27px;
$nav: 24pt;
$h1: 42pt;
$h2: 36pt;
$h3: 18pt;
$h4: 16pt;

// Colors

$primary-color: #08C;
$black: #333333;
$gray: #CCC;
$headers: $black;
$body-text: $black;
$page-header: $black;
$page-header-links: #FFF;
$page-header-link-active: $primary-color;
$section-header: #ccc;

$portfolio-background-color: #CCC;

$page-footer: $black;
$form-outline-color: #BCC942;
$action-button-background: $primary-color;

$section-header-height: 78%;


// Layout
$total-columns: 12;
$column-width: 4em;
$gutter-width: 1em;
$grid-padding: $gutter-width;

// Images

// Compass

@import 'compass/css3/transform';
@import 'compass/css3/text-shadow';
@import 'compass/css3/box-shadow';
@import 'compass/css3/box-sizing';
@import 'compass/css3/opacity';
@import 'compass/css3/border-radius';
@import 'compass/css3/transition';
@import 'compass/typography/links/link-colors';
@import 'compass/typography/text/replacement';
@import 'compass/typography/vertical_rhythm';

// Custom Imports

@import 'respond';