
@font-face {
    font-family: 'Flexo Black';
    src: url('../fonts/Durotype - Flexo-Black.otf') format("opentype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Flexo Regular';
    src: url('../fonts/Durotype - Flexo-Demi.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}