@font-face {
  font-family: 'Compass';
  src: url('../fonts/Compass.ttf'),
       url('../fonts/compass.svg');
}

@font-face {
  font-family: 'Compass-Light';
  src: url('../fonts/CompassLight.ttf');
}