@import 'fonts';
@import 'config';
@import 'normalize';
@import 'susy';

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
  background-color: #ffffff;
}

.wrapper{
  @extend %container;
  background-color: #ECECF0;
}

a {
  //color: $primary-color;
  text-decoration: none;

  &:hover{
    text-decoration: underline;
  }
}

.hero-unit {
  background-color: #BBD8E9;
}

/******************************************************************

 * Layout

 *******************************************************************/

%container  { @include container; }

.center {
  text-align: center;
}

[role="navigation"] {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    max-width: none;

    li {
      display: inline-block;
      width: 25%;
      margin-right: -4px;
      text-align: center;
    }
  }
}

/******************************************************************

 * Typography

*******************************************************************/

#{headings()}, [role="navigation"] {
  margin: 0;
  color: $headers;
}

[role="navigation"] a{
  text-align: center;
  @include adjust-font-size-to($nav/1.5);
}

h1 {
  margin: 0;
  @include adjust-font-size-to($h1);
}

h2 {
  @include adjust-font-size-to($h2);
}

h3 {
  @include adjust-font-size-to($h3);
}

h4 {
  @include adjust-font-size-to($h4);
}

p {
  margin: 0;
  @include adjust-font-size-to($base-font-size, 1.5);
  @include trailer;
}

h1 span {
  @include adjust-font-size-to($base-font-size/2, 1.5);
  vertical-align: middle;
  color: #999;
}


@include respond-to('tablet'){
  [role="navigation"] a{
    text-align: center;
    @include adjust-font-size-to($nav/1.5);
  }

  h1 {
    margin: 0;
    @include adjust-font-size-to($h1/1.5);
  }

  h2 {
    @include adjust-font-size-to($h2);
  }

  h3 {
    @include adjust-font-size-to($h3);
  }

  h4 {
    @include adjust-font-size-to($h4);
  }

  p {
    margin: 0;
    @include adjust-font-size-to($base-font-size, 1.5);
    @include trailer;
  }

  h1 span {
    @include adjust-font-size-to($base-font-size/2, 1.5);
    vertical-align: middle;
    color: #999;
  }
}

@include respond-to('mobile'){
  [role="navigation"] a{
    text-align: center;
    @include adjust-font-size-to($nav/3);
  }

  h1 {
    margin: 0;
    @include adjust-font-size-to($h1/3);
  }

  h2 {
    @include adjust-font-size-to($h2/2);
  }

  h3 {
    @include adjust-font-size-to($h3);
  }

  h4 {
    @include adjust-font-size-to($h4);
  }

  p {
    margin: 0;
    @include adjust-font-size-to($base-font-size, 1.5);
    @include trailer;
  }

  h1 span {
    @include adjust-font-size-to($base-font-size/2, 1.5);
    vertical-align: middle;
    color: #999;
  }

  code {
    @include adjust-font-size-to($base-font-size/1.7, 1.5);
  }
}

/*
Header
 */

header[role="banner"]{

  h1{
    text-align: left;
  }
}

body {
  @extend %image-section;
  
  @include respond-to('desktop'){
    @include background(image-url('trees5.jpg'));
  }

  @include respond-to('tablet'){
    @include background(image-url('trees5.jpg'));
  }

  @include respond-to('mobile'){
    word-wrap:break-word;
  }
}

// Sections

#home {

  height: 100%;
  text-align: left;

  .hero-unit{
    color: $primary-color;
    @include background(image-url('me.jpg'));
    padding: 30px;
    padding-top: 100px;

    h1 {
      @include adjust-font-size-to($h2);
    }

    p {
      @include adjust-font-size-to($base-font-size/1.1, 1.5);
      margin: 0;
    }
  }

  @include respond-to('tablet'){
    .hero-unit{

      color: $primary-color;
      @include background(image-url('me.jpg'));
      padding: 30px;
      padding-top: 80px;

      h1 {
        @include adjust-font-size-to($h2/2);
      }

      p {
        @include adjust-font-size-to($base-font-size/1.1, 1.5);
        margin: 0;
      }
    }
  }

  @include respond-to('mobile'){
    .hero-unit{

      color: $primary-color;
      @include background(image-url('me.jpg'));
      padding: 30px;
      padding-top: 80px;

      h1 {
        @include adjust-font-size-to($h2/2);
      }

      p {
        @include adjust-font-size-to($base-font-size/1.1, 1.5);
        margin: 0;
      }
    }
  }

  .social-links li a {
    @include adjust-font-size-to($h3);
  }

  @include respond-to('desktop') {
    @include span-columns(6, 12);
  }

  @include respond-to('tablet') {
    @include span-columns(6, 12);
  }
}


#about {
  .span6 {
    @include respond-to('desktop') {
      @include span-columns(6 omega, 12);
    }

    @include respond-to('tablet') {
      @include span-columns(6 omega, 12);
    }

    &:first-child {
      @include respond-to('desktop') {
        @include span-columns(6, 12);
      }

      @include respond-to('tablet') {
        @include span-columns(6, 12);
      }
    }
  }

  figure {
    .thumbnail-container {
      float: left;
      padding: 10px;
    }

    clear: both;
  }
}

[role="main"] aside {
  @include respond-to('desktop') {
    @include span-columns(6 omega, 12);
  }

  @include respond-to('tablet') {
    @include span-columns(6 omega, 12);
  }
  text-align: left;
}



//footer

footer {
  clear: both;
}



%image-section {
  background-position: left center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  @include background-size(cover);

  @include lt-ie9-fix {
    background-image: none;
    border: none;
  }
}