/* line 5, ../sass/main.scss */
html, body {
  height: 100%;
}

/* line 9, ../sass/main.scss */
body {
  background: url("/images/2013-berlin.jpg");
  background-position: left bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  background-size: cover;
}

/* line 18, ../sass/main.scss */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -51px;
  display: flex;
}

/* line 26, ../sass/main.scss */
#wrap > .container {
  padding: 50px 10px 100px;
  background: rgba(255, 255, 255, 0.85);
}

/* line 31, ../sass/main.scss */
header > .navbar {
  margin: 0;
}

/* line 35, ../sass/main.scss */
footer > .navbar {
  margin: 0;
  border-radius: 0;
}
/* line 38, ../sass/main.scss */
footer > .navbar li {
  display: inline-block;
}

/* line 45, ../sass/main.scss */
#hobbies img, #history img {
  padding: 5px;
}

/* line 50, ../sass/main.scss */
.post img.mobile-gif {
  margin: 0em 3em 0em 2em;
}

/* line 56, ../sass/main.scss */
.carousel {
  -moz-box-shadow: black 2px 2px 10px;
  -webkit-box-shadow: black 2px 2px 10px;
  box-shadow: black 2px 2px 10px;
  margin: 0 auto;
  max-width: 400px;
  display: block;
}

/* line 64, ../sass/main.scss */
.caption ul {
  height: 110px;
}
/* line 67, ../sass/main.scss */
.caption p {
  min-height: 38px;
}

@media (max-width: 380px) {
  /* line 72, ../sass/main.scss */
  iframe.mobile-app {
    width: 100%;
    height: 480px;
    position: absolute;
    left: 0;
  }
}
@media (min-width: 381px) {
  /* line 72, ../sass/main.scss */
  iframe.mobile-app {
    float: left;
    width: 320px;
    height: 480px;
    margin: 0 15px;
  }
}
